table{
    width: 90%;
}

.example-tree-invisible {
    display: none;
}

img {
    height : 30px;
    width: 30px;
}
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
* This padding sets alignment of the nested nodes.
*/
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

/*
* Padding for leaf nodes.
* Leaf nodes need to have padding so as to align with other non-leaf nodes
* under the same parent.
*/
.example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
}


mat-tree {
    margin-left: 5%;
    background-color: var(--grey);
}

#tree {
    width : 50%;
    background-color: var(--grey);
}

mat-list-item {
    display: block !important
}

.node {
    text-align: center;
    line-height: 40px;;
    padding: 10px;
    justify-content: space-between;
}
.node button:hover {
    cursor: pointer;
}

.node:hover{
    background-color: var(--darkgrey);
    
    cursor: pointer;

    transition: 0.8s;;
}


